.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
!node_modules/playwright/**
!node_modules/playwright-core/**
test/**
webpack.config.js
.github/**